<h1>Read</h1>
<button type="button" onclick="window.location.href='/read'">Read Data</button>

<h1>Insert</h1>
<form action="/insert">
    ID: <input name="__id__" type="text" /> <br>
    First_name: <input name="first_name_db" type="text" /> <br>
    Last_name: <input name="last_name_db" type="text" /> <br>
    Age: <input name="age_db" type="text" /> <br>
    <input type=""submit" />
</form>

<h1>Delete</h1>
<form action="/delete">
    ID: <input name="__id__" type="text" /> <br>
    <input type=""submit" />
</form>

<h1>Update</h1>
<form action="/update">
    ID: <input name="__id__" type="text" /> <br>
    First_name: <input name="new_first_name_db" type="text" /> <br>
    Last_name: <input name="new_last_name_db" type="text" /> <br>
    Age: <input name="new_age_db" type="text" /> <br>
    <input type=""submit" />
</form>
